.container {
    width: 25%;
    margin: 0 auto;
}

input, button, a {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #576BCD;
}

form {
    box-shadow: 0 0.1rem 0.5rem lightgray;
    padding: 10%;
}

h2 {
    margin: 0;
}

label {
    display: block;
    margin: 5% 0;
    font-size: 12pt;
    font-weight: bold;
}

a {
    text-decoration: none;
}

label > a {
    float: right;
}

input[type=checkbox] {
    width: auto;
    height: auto;
    margin-right: 1vh;
}

input {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 4vh;
    margin: 1vh 0;
}

.field-input:focus {
    border-color: #91A6FA;
    outline: none;
    box-shadow: 0 0 0 1px #CFD4EF;
}

button {
    width: 100%;
    height: 4vh;
    color: white;
    background: #576BCD;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5vh;
}

p {
    text-align: center;
}