html, body {
    margin: 0;
    height: 100%;
}

#interactive-field {
    margin: 5vh 5vw;
    width: 90vw;
    height: 90vh;
    background: lightgray;
}

#draggable-block {
    width: 20vw;
    height: 20vh;
    background: #576BCD;
}

#block-name-field, #block-name-form {
    display: block;
    width: 80%;
    margin: 1vh auto;
    text-align: center;
}

#delete-block-button {
    display: block;
    float: right;
    width: 10%;
    cursor: pointer;
    margin: 1vh auto;
}