html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-of-dices {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
}


.dice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 18vh;
    height: 18vh;
    border: 1vh solid black;
    border-radius: 20%;
    margin: 2vh;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200%;
    width: 25%;
    padding: 0.7rem 0;
}

.dot {
    border: 2.1vh solid black;
    border-radius: 50%;
    margin: 3%;
    width: 0;
    height: 0;
}

.six-dice .column {
    justify-content: space-between;
}

div.two-dice > div:nth-child(3) {
    justify-content: flex-end;
}

.five-dice .column {
    justify-content: space-between;
}

div.five-dice > div:nth-child(2) {
    justify-content: center;
}

div.three-dice > div:nth-child(2) {
    justify-content: center;
}

div.three-dice > div:nth-child(3) {
    justify-content: flex-end;
}

.four-dice .column {
    justify-content: space-between;
}

.one-dice .column {
    justify-content: center;
}