

.container {
    width: 25%;
    margin: 0 auto;
}

input, button, a {
    cursor: pointer;
}

h1 {
    font-size: 3vh;
    text-align: center;
    color: #576BCD;
}

form {
    box-shadow: 0 0.1rem 0.5rem lightgray;
    padding: 10%;
}

h2 {
    font-size: 2.5vh;
    margin: 0;
}

label {
    display: block;
    margin: 5% 0;
    font-size: 1.8vh;
    font-weight: bold;
}

a {
    font-size: 1.8vh;
    text-decoration: none;
}

label > a {
    float: right;
}

input[type=checkbox] {
    width: 1.5vh;
    height: 1.5vh;
    margin: 0 1vh 0 0;
}

input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 4vh;
    margin: 1vh 0;
    padding: 0 1.5vh;
}

.valid-field-input:focus {
    border-color: #CFD4EF;
    outline: none;
    box-shadow: 0 0 0 1px #CFD4EF;
}

.invalid-field-input {
    border-color: #FF6E64;
    outline: none;
    box-shadow: 0 0 0 1px #FF6E64;
}

.invalid-field-input:focus {
    border-color: #FF6E64;
    outline: none;
    box-shadow: 0 0 0 1px #FF6E64;
}

button {
    width: 100%;
    height: 4vh;
    color: white;
    background: #576BCD;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5vh;
}

p {
    font-size: 1.8vh;
    text-align: center;
}

.invalid {
    background: red;
}